
body {
    font-family: Arial, sans-serif;
    padding: 20px;
    background-color: whitesmoke;
}

#titulo {
    color: rgb(248, 49, 49);
    display: flex;
    justify-content: center;
}

#campo-tarefa   {
    border-radius: 16px;
    border: black solid;
    padding-right: 500px;
    padding-bottom: 10px;
    padding-top: 10px;
    padding-bottom: 10px;
}

#botao-adicionar {
    margin-left: 10px;
    padding-right: 10px;
    padding-left: 10px;
    padding-top: 10px;
    padding-bottom: 10px;
    border-radius: 20px;
    background-color: black;
    color: white;
}

#botao-adicionar:hover  {
    transition: 0.5s ease-in-out;
    transform: scale(1.2);
}

#lista-tarefas {
    margin-top: 20px;
    list-style: none ;
}

.tarefa {
    margin-top: 5px;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    list-style-type: none;
    display: flex;
    justify-content: space-between;
    align-items: center;
    
}

.concluida  {
    text-decoration: line-through;
    color: rgb(68, 218, 68);
}

.botao-excluir  {
    border-radius: 20px;
    margin-left: 10px;
    color: black;
    background-color:rgb(248, 49, 49);
}